# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
build/
dist/
.eggs/
venv/
backend/venv/
.env
.env.*
.pytest_cache/

# Node
node_modules/
frontend/node_modules/
backend/node_modules/
frontend/dist/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# System
Thumbs.db
